asgiref==3.10.0
Django==5.2.7
gunicorn==23.0.0
packaging==25.0
sqlparse==0.5.3
tzdata==2025.2
django-taggit==5.0.1
django-redis==5.4.0
django-tinymce==3.6.1
django-allauth==0.58.2
django-environ==0.11.2
django-compressor==4.4
django-robots==6.1
Pillow==10.1.0
redis==5.0.1
python-dotenv==1.0.0
django-storages==1.14.2
django-crispy-forms==2.3
django-ckeditor==6.7.3
crispy-bootstrap5==2025.6
python-slugify==8.0.1
